.changePwd-container
{
	width: 100%;
	text-align: center;
	background-image: url("../images/login.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 350px;
}

.changePwdForm {
	line-height: 30px;
	display: inline-block;
	width: 20%;
	background-color: rgba(255, 255, 255, 0.5);
	border: 2px solid black;
	margin-top: 20px;
}

.changePwdForm input {
	margin: 10px 0;
	width: 180px;
	height: 30px;
	border: 1px solid;
}

.changePwdForm a input,
.changePwdForm input[type="submit"] {
	width: 187px;
	height: 30px;
	margin-bottom: 11px;
	background-color: black;
	color: white;
}