.options a {
	text-decoration: none;
	color: black;
	padding: 30px;
}

.options {
	padding-top: 20px;
	width: 100%;
	background-color: #f5f5f5;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    display: table-cell;
    position: relative;
  }

  .card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}

  
  .card img{
    width: 100%;
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .Row {
      display: table;
      width: 80%; /*Optional*/
      margin-left: auto;
      margin-right: auto;
      table-layout: fixed; /*Optional*/
      border-spacing: 40px; /*Optional*/
      
  }
  .card button:hover {
    opacity: 0.7;
  }
  